# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# LaTeX/Matplotlib
*.log
*.aux
*.out

# Results or generated images
results/

# Plotly temp files
temp-plot.html
